.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color);
    color: white;
}
.footer ul {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    padding: 12px 0;
    margin-top: 18px;
}
.footer li {
    cursor: pointer;
    transition: 200ms;
}
.footer li:hover {
    transform: scale(1.1);
    color: var();
    transition: 200ms;
}